@model ControleAluno.Models.LoginViewModel

@{
    ViewData["Title"] = "Acesso negado";
}

<h1>Controle de acesso</h1>

<h4>Acesso negado. Verifique suas credenciais</h4>
<hr />

<div>
    <a asp-action="Index" asp-controller="Login">Voltar</a>
</div>

